//BORDER-RADIUS  -usage +border-radius(10px)
@mixin border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

//BOX-SHADOW   -usage +box-shadow(0px 4px 5px #666, 2px 6px 10px #999)
@mixin box-shadow($shadows...)
	-webkit-box-shadow: $shadows
	-moz-box-shadow: $shadows
	box-shadow: $shadows

//TEXT SHADOW  -usage +text-shadow(3px, 3px, 3px, #333)
@mixin text-shadow( $top, $left, $blur, $colour)
	-webkit-text-shadow: $top $left $blur $colour
	-moz-text-shadow: $top $left $blur $colour
	-o-text-shadow: $top $left $blur $colour
	text-shadow: $top $left $blur $colour

//TRANSITIONS  -usage +transition(color .3s ease)
@mixin transition($args...)
	-webkit-transition: $args
	-moz-transition: $args
	-ms-transition: $args
	-o-transition: $args
	transition: $args

//SCALE   -usage +scale(1.5)
@mixin scale($val)
	-webkit-transform: scale($val)
	-moz-transform: scale($val)
	-ms-transform: scale($val)
	-o-transform: scale($val)
	transform: scale($val)

%clearfix
	*zoom: 1
	&:before, &:after
		content: " "
		display: table
	&:after
		clear: both
